## Imports

In [2]:
import pandas as pd
import sqlite3

## Create a connection to the database using the library sqlite3

In [3]:
conn = sqlite3.connect('../data/checking-logs.sqlite')

## Using only one query for each of the groups, create two dataframes: test_results and control_results with the columns time and avg_diff and only two rows
◦ time should have the values: after and before

◦ avg_diff contains the average delta among all the users for the time period
before each of them made their first visit to the page and afterward

◦ only take into account the users that have observations before and after

• we still are not using the lab ’project1’

In [7]:
sel="""
	SELECT 'before' AS time,
		AVG(CAST((julianday(t.first_commit_ts) - julianday(d.deadlines, 'unixepoch')) * 24 AS INT)) AS avg_diff
		FROM test AS t LEFT JOIN deadlines AS d
		ON t.labname = d.labs
		WHERE t.labname != 'project1'
		AND julianday(t.first_commit_ts) <= julianday(t.first_view_ts)
	UNION
	SELECT 'after' AS time,
		AVG(CAST((julianday(t.first_commit_ts) - julianday(d.deadlines, 'unixepoch')) * 24 AS INT)) AS avg_diff
		FROM test AS t LEFT JOIN deadlines AS d
		ON t.labname = d.labs
		WHERE t.labname != 'project1'
		AND julianday(t.first_commit_ts) > julianday(t.first_view_ts);"""

test_results = pd.read_sql(sql=sel, con=conn)
test_results

     time   avg_diff
0   after -103.40625
1  before  -60.56250

In [8]:
sel="""
	SELECT 'before' AS time,
		AVG(CAST((julianday(t.first_commit_ts) - julianday(d.deadlines, 'unixepoch')) * 24 AS INT)) AS avg_diff
		FROM control AS t LEFT JOIN deadlines AS d
		ON t.labname = d.labs
		WHERE t.labname != 'project1'
		AND julianday(t.first_commit_ts) <= julianday(t.first_view_ts)
	UNION
	SELECT 'after' AS time,
		AVG(CAST((julianday(t.first_commit_ts) - julianday(d.deadlines, 'unixepoch')) * 24 AS INT)) AS avg_diff
		FROM control AS t LEFT JOIN deadlines AS d
		ON t.labname = d.labs
		WHERE t.labname != 'project1'
		AND julianday(t.first_commit_ts) > julianday(t.first_view_ts);"""

control_results = pd.read_sql(sql=sel, con=conn)
control_results

     time    avg_diff
0   after -112.710526
1  before  -99.464286

## Close the connection

In [9]:
conn.close()

## Have the answer: did the hypothesis turn out to be true and the page does affect the students’ behavior?

Yes, Difference is visible