## Imports

Imports

In [43]:
import pandas as pd

## Reading

Here we read data from file to pandas...

In [44]:
df = pd.read_csv('../data/feed-views.log', 
                 sep='\t', 
                 names=('datetime','user'), 
                 index_col='datetime', 
                 skiprows=(2, 3), 
                 skipfooter=2,
                 engine='python')

...and print the dataframe samples

In [45]:
df.head()

                              user
datetime
2020-04-17 12:01:08.463179   artem
2020-04-17 12:01:23.743946   artem
2020-04-17 12:35:52.735016   artem
2020-04-17 12:36:21.401412  oksana
2020-04-17 12:36:22.023355  oksana

In [46]:
df.tail()

                                 user
datetime
2020-05-21 16:36:40.915488  ekaterina
2020-05-21 17:49:36.429237      maxim
2020-05-21 18:45:20.441142  valentina
2020-05-21 23:03:06.457819      maxim
2020-05-21 23:23:49.995349      pavel

## Rename df

Then rename 'datetime' column into 'date_dime' without copying the dataframe...

In [47]:
df.rename_axis('date_time', axis='index', inplace=True)

...and print the dataframe

In [48]:
df

                                 user
date_time
2020-04-17 12:01:08.463179      artem
2020-04-17 12:01:23.743946      artem
2020-04-17 12:35:52.735016      artem
2020-04-17 12:36:21.401412     oksana
2020-04-17 12:36:22.023355     oksana
...                               ...
2020-05-21 16:36:40.915488  ekaterina
2020-05-21 17:49:36.429237      maxim
2020-05-21 18:45:20.441142  valentina
2020-05-21 23:03:06.457819      maxim
2020-05-21 23:23:49.995349      pavel

[1072 rows x 1 columns]

## Save to new CSV

Now let's save it to new csv-file with ';' as a delimiter...

In [49]:
df.to_csv('../data/feed-views-semicolon.log', sep=';')

...and print contents of the file to check

In [50]:
%cat ../data/feed-views-semicolon.log | head

date_time;user
2020-04-17 12:01:08.463179;artem
2020-04-17 12:01:23.743946;artem
2020-04-17 12:35:52.735016;artem
2020-04-17 12:36:21.401412;oksana
2020-04-17 12:36:22.023355;oksana
2020-04-17 13:55:19.129243;artem
2020-04-17 15:00:33.138530;artem
2020-04-17 15:14:09.581054;artem
2020-04-17 22:46:26.785035;vladislav

Check the dataframe again:

In [51]:
df = pd.read_csv('../data/feed-views-semicolon.log', sep=';', index_col='date_time')

In [52]:
df.head()

                              user
date_time
2020-04-17 12:01:08.463179   artem
2020-04-17 12:01:23.743946   artem
2020-04-17 12:35:52.735016   artem
2020-04-17 12:36:21.401412  oksana
2020-04-17 12:36:22.023355  oksana

In [53]:
df.tail()

                                 user
date_time
2020-05-21 16:36:40.915488  ekaterina
2020-05-21 17:49:36.429237      maxim
2020-05-21 18:45:20.441142  valentina
2020-05-21 23:03:06.457819      maxim
2020-05-21 23:23:49.995349      pavel